<template>
  <q-card class="q-mb-md">
    <q-card-title>
      <div class="row content-center items-center justify-between">
        <p class="q-ma-none">Character</p>
        <!-- <q-btn label="Save Character" color="primary" @click="save" icon="save"/> -->
      </div>
    </q-card-title>
    <q-card-main>
      <q-field label="Name">
        <q-input v-model="model.name"/>
      </q-field>
      <q-field label="Description">
        <q-input
          v-model="model.description"
          type="textarea"
          float-label="Textarea"
          :max-height="100"
          rows="7"
        />
      </q-field>
      <q-field label="Author">
        <q-input v-model="model.credit.author"/>
      </q-field>
      <q-field label="Pictures Credit" helper="Credit person that made the pictures">
        <q-input v-model="model.credit.pictures"/>
      </q-field>
      <q-field label="Coder">
        <q-input v-model="model.credit.coder"/>
      </q-field>
      <q-field label="Picture">
        <q-input v-model="model.picture"/>
      </q-field>
      <q-field label="Anime">
        <q-input v-model="model.anime"/>
      </q-field>
      <q-field label="id">
        <q-input v-model="model.id"/>
      </q-field>

      <q-card-separator class="q-my-md"/>

      <p>
        <b>Create Skills</b>
      </p>
      <q-field label="Skill Name">
        <div class="row col-12 justify-between">
          <q-input v-model="create.skill" class="col-8"/>
          <q-btn label="Add" color="primary" @click="skill('add')" icon="save"/>
        </div>
      </q-field>

      <p v-for="(item, index) in skills" :key="'skill'+index">
        {{item.name}} -
        <span @click="fnView('add', item.id)">add to view</span> |
        <span @click="skill('remove', {index})">delete</span>
      </p>

      <q-card-separator class="q-my-md"/>

      <p>
        <b>Skill View</b>
      </p>
      <p v-for="(item, index) in view" :key="'view'+index+viewKey">
        {{viewtoSkill(item)}} -
        <span @click="fnView('up', item)">move up</span> |
        <span @click="fnView('down', item)">move down</span> |
        <span @click="fnView('remove', item)">remove</span>
      </p>
    </q-card-main>

    <q-page-sticky position="top-right" :offset="[18, 18]"></q-page-sticky>
  </q-card>
</template>

<script>
import _ from 'lodash'
import uniqid from 'uniqid'
import char from '../../definitions/char'
import skill from '../../definitions/skill'

export default {
  name: 'BuilderChar',
  data() {
    return {
      // model: char,
      initiated: false,
      create: {
        skill: ''
      },
      viewKey: 0
    }
  },
  computed: {
    model: {
      get: function() {
        return this.$store.getters['builder/char']
      }
    },
    skills: function() {
      return this.$store.getters['builder/skills']
    },
    view: {
      get: function() {
        let data = this.$store.getters['builder/view']
        console.log(data)
        return data
      }
    }
  },
  methods: {
    save: function() {
      let payload = this.model
      this.$store.commit('builder/char', payload)
      this.initiated = true
    },
    fnView: function(type, val) {
      if (type === 'add') {
        let payload = {
          type: 'VIEW_ADD',
          val: val
        }
        this.$store.commit('builder/view', payload)
      }
      if (type === 'remove') {
        let payload = {
          type: 'VIEW_REMOVE',
          val: val
        }
        this.$store.commit('builder/view', payload)
      }
      if (type === 'up') {
        let payload = {
          type: 'VIEW_UP',
          val: val
        }
        this.viewKey = this.viewKey + 1
        this.$store.commit('builder/view', payload)
      }
      if (type === 'down') {
        let payload = {
          type: 'VIEW_DOWN',
          val: val
        }
        this.$store.commit('builder/view', payload)
      }
    },
    viewtoSkill: function(id) {
      return this.skills.filter(x => x.id === id)[0].name
    },
    skill: function(type, pkg) {
      if (type === 'add') {
        let prep = _.cloneDeep(skill)
        prep.name = this.create.skill
        prep.id = uniqid.time()
        let payload = {
          type: 'SKILL_ADD',
          pkg: prep
        }
        this.$store.commit('builder/skill', payload)

        let viewPayload = {
          type: 'VIEW_ADD',
          val: prep.id
        }
        this.$store.commit('builder/view', viewPayload)
      } else if (type === 'remove') {
        let payload = {
          type: 'SKILL_REMOVE',
          pkg: pkg
        }
        this.$store.commit('builder/skill', payload)
      }
    }
  }
}
</script>

<style>
</style>
